.about-box {
  border: 1px solid black;
  background-color: black;
  color: white; }

.register-box {
  width: 300px;
  height: inherit;
  background-color: white;
  color: black; }

 .auth-text {
 	font-size: 0.7em;
 }
